.App {
  font-family: "Source Sans Pro", sans-serif;
  color: #1b1b1b;
}

header {
  text-align: center;
  margin-bottom: 10px;
}

.heading {
  margin-bottom: 1px;
}

.sub-heading {
  margin: 0;
  color: #444;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.nav {
  padding: 0 20px;
  list-style: none;
}

.navItem {
  margin-bottom: 10px;
}

.link {
  color: #0a4a8a;
  text-decoration: none;
  padding-bottom: 2px;
}

.link:hover {
  color: #0b3c6e;
}

.active-link {
  border-bottom: 1px solid #0a4a8a;
}

.main {
  padding: 0 20px;
  flex: 1 1 auto;
}

/* CHALLENGE RELATED */
.challenge-header {
  /* text-align: center; */
}

.button {
  background-color: #0a4a8a;
  color: #eee;
  padding: 10px 20px;
  border: 1px solid #0a4a8a;
  border-radius: 5px;
  margin: 0 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #0b3c6e;
}

.text-input {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #aaa;
}
